@import "../sass/variables";

.container {
  width: 100%;
  height: 100vh;
  padding: 7.5rem;
  background-color: $very-light-gray;
}
.comment-container {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
