<div class="new-comment-container">
  <div class="avatar">
    <img src="{{ currentUser.image.png }}" alt="User Avatar" />
  </div>
  <div class="new-comment-form">
    <textarea
      class="comment"
      placeholder="Add a comment.."
      [value]="replyingTo ? '@' + replyingTo : ''"
      rows="4"
      #commentInput
    ></textarea>

    <button *ngIf="replyingTo.length > 0" (click)="onSendReply()">REPLY</button>
    <button *ngIf="replyingTo.length === 0" (click)="onSendComment()">
      SEND
    </button>
  </div>
</div>
