@import "../../sass/variables";
.new-comment-container {
  background-color: $white;
  width: 100%;
  margin: 4rem auto;
  border-radius: 8px;
  padding: 2rem;

  display: flex;
  gap: 2rem;
}

.new-comment-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 100%;

  textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 1rem;
    width: 100%;
    resize: none;

    &:focus {
      outline-color: $moderate-blue;
    }
  }

  button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    background-color: $moderate-blue;
    color: $white;
    font-weight: $font-500;

    &:hover {
      background-color: $light-grayish-blue;
      cursor: pointer;
    }
  }
}

.avatar {
  width: 4rem;

  img {
    width: 100%;
  }
}
