<div class="new-comment-container">
  <div class="avatar">
    <img src="{{ currentUser.image.png }}" alt="User Avatar" />
  </div>
  <div class="new-comment-form">
    <textarea
      class="comment"
      placeholder="Add a comment.."
      [value]="replyingToUser ? '@' + replyingToUser + ' ' : ''"
      rows="4"
      #commentInput
    ></textarea>

    <button *ngIf="replyingToUser" (click)="onSendReply()">REPLY</button>
    <button *ngIf="!replyingToUser" (click)="onSendComment()">SEND</button>
  </div>
</div>
